In [147]:
import requests
import os
import pandas as pd
import numpy as np

In [148]:
# location = "Minneapolis,Minnesota"
url = "http://api.citybik.es/v2/networks"

In [149]:
result = requests.get(url)

In [269]:
result.json()['networks'][0]

{'company': ['ЗАО «СитиБайк»'],
 'href': '/v2/networks/velobike-moscow',
 'id': 'velobike-moscow',
 'location': {'city': 'Moscow',
  'country': 'RU',
  'latitude': 55.75,
  'longitude': 37.616667},
 'name': 'Velobike'}

In [270]:
#location = "Chicago, Illinois"
url2 = "http://api.citybik.es/v2/networks/divvy"

In [271]:
#json of only Minneapolis data
result2 = requests.get(url2)
stations = result2.json()['network']['stations']
stations[0]

{'empty_slots': 47,
 'extra': {'ebikes': 0,
  'has_ebikes': True,
  'last_updated': 1682048382,
  'payment': ['key', 'creditcard', 'transitcard'],
  'payment-terminal': True,
  'renting': 1,
  'returning': 1,
  'slots': 47,
  'uid': 'a3ab9119-a135-11e9-9cda-0a87ae2ba916'},
 'free_bikes': 0,
 'id': '1f5c4bbbdda9c2d08239135f4adde68f',
 'latitude': 41.96909,
 'longitude': -87.674237,
 'name': 'Ravenswood Ave & Lawrence Ave',
 'timestamp': '2023-04-21T03:40:11.943000Z'}

In [272]:
#Able to verify Minneapolis in list of networks under business name "Nice Ride" or nice-ride

In [273]:
#make empty df
bikedf = {'name':[],'address':[],'freebikes':[],'slots':[],'latitude':[],'longitude':[]}

i = 0
while i < len(stations):
    #pull data from API json per station
    latitude = stations[i]['latitude']
    longitude = stations[i]['longitude']
    name = stations[i]['name']
    freebikes = stations[i]['free_bikes']
    # slots = stations[i]['extra']['slots']
    #address not present in all stations
    try:
        address = stations[i]['extra']['address']
    except:
        address = None
        
    #append variable information into table   
    bikedf['name'].append(name)
    bikedf['address'].append(address)
    bikedf['freebikes'].append(freebikes)
    bikedf['slots'].append(slots)
    bikedf['latitude'].append(latitude)
    bikedf['longitude'].append(longitude)
    i+=1

In [274]:
print(len(bikedf['name']))
print(len(bikedf['address']))
print(len(bikedf['freebikes']))
print(len(bikedf['slots']))
print(len(bikedf['latitude']))
print(len(bikedf['longitude']))

1420
1420
1420
1420
1420
1420

In [275]:
bikedf = pd.DataFrame(bikedf)

In [276]:
bikedf.isnull().sum()

name           0
address      685
freebikes      0
slots          0
latitude       0
longitude      0
dtype: int64

In [277]:
print(bikedf['freebikes'].value_counts())
print(bikedf['slots'].value_counts())

0     587
1     120
2     101
4      92
3      86
5      71
6      69
8      60
7      57
9      48
12     26
10     25
11     23
13     15
14     13
16      6
15      5
18      4
17      4
20      2
26      2
19      2
30      1
24      1
Name: freebikes, dtype: int64
31    1420
Name: slots, dtype: int64

In [278]:
bikedf

,name,address,freebikes,slots,latitude,longitude
0,Ravenswood Ave & Lawrence Ave,None,0,31,41.969090,-87.674237
1,Lake Park Ave & 56th St,None,11,31,41.793242,-87.587782
2,Ada St & Washington Blvd,None,8,31,41.882830,-87.661206
3,Ashland Ave & Grace St,None,4,31,41.950687,-87.668700
4,Clark St & Wrightwood Ave,None,12,31,41.929546,-87.643118
...,...,...,...,...,...,...
1415,Indiana Ave & Roosevelt Rd,None,24,31,41.867888,-87.623041
1416,Lincoln Ave & Byron St,None,4,31,41.952372,-87.677296
1417,Wentworth Ave & Cermak Rd*,None,12,31,41.853214,-87.631872
1418,Kedzie Ave & 24th St (Temp),None,0,31,41.846357,-87.704966
1419,Hastings LWS,"1354, South Damen Avenue, Illinois Medical Dis...",0,31,41.863516,-87.679749

In [286]:
bikedf['ll'] = round(bikedf['latitude'],4).astype(str) + ',' + round(bikedf['longitude'],4).astype(str)

In [287]:
bikedf

,name,address,freebikes,slots,latitude,longitude,ll
0,Ravenswood Ave & Lawrence Ave,None,0,31,41.969090,-87.674237,"41.9691,-87.6742"
1,Lake Park Ave & 56th St,None,11,31,41.793242,-87.587782,"41.7932,-87.5878"
2,Ada St & Washington Blvd,None,8,31,41.882830,-87.661206,"41.8828,-87.6612"
3,Ashland Ave & Grace St,None,4,31,41.950687,-87.668700,"41.9507,-87.6687"
4,Clark St & Wrightwood Ave,None,12,31,41.929546,-87.643118,"41.9295,-87.6431"
...,...,...,...,...,...,...,...
1415,Indiana Ave & Roosevelt Rd,None,24,31,41.867888,-87.623041,"41.8679,-87.623"
1416,Lincoln Ave & Byron St,None,4,31,41.952372,-87.677296,"41.9524,-87.6773"
1417,Wentworth Ave & Cermak Rd*,None,12,31,41.853214,-87.631872,"41.8532,-87.6319"
1418,Kedzie Ave & 24th St (Temp),None,0,31,41.846357,-87.704966,"41.8464,-87.705"
1419,Hastings LWS,"1354, South Damen Avenue, Illinois Medical Dis...",0,31,41.863516,-87.679749,"41.8635,-87.6797"